html {
    box-sizing: border-box;
}

html,
body,
input,
button,
p {
    margin: 0;
}

#map {
    height: 60vh;
}


.displayBoxRender {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    height: 90px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.13);

    background-color: rgb(13, 152, 216);
}
.displayBoxLocNumber{
    font-size: 22px;
    font-weight: bolder;
}
.displayBoxLocResult {
    text-align: center;
    margin: 10px;
}

.displayBoxLocCord{
    font-style: italic;
    font-weight: bold;
}

.inputBox {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    background-color: rgb(90, 90, 90);
}

.inputBoxInput {
    text-align: center;
    height: 40px;
    width: 95%;
}

.inputBoxButton {
    padding: 15px 100px;
    border-radius: 25px;
    border: none;
    background-color: aquamarine;
}

.inputBoxButton:hover {
    background-color: rgba(127, 255, 212, 0.329);
}