html {
    box-sizing: border-box;
}

html,
body,
input,
button,
p {
    margin: 0;
}

#map {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60vh;
    z-index: 10;
}

.inputBox {
    position: absolute;
    top: 60vh;
    left: 0;
    right: 0;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /*border-radius:  0px 0px 50px 50px;*/
    background-color: rgb(90, 90, 90);
}

.inputBoxInput {
    text-align: center;
    height: 40px;
    width: 95%;
}

.inputBoxButton {
    padding: 15px 100px;
    border-radius: 25px;
    border: none;
    background-color: aquamarine;
}

.inputBoxButton:hover {
    background-color: rgba(127, 255, 212, 0.329);
}

.displayBox {
    position: absolute;
    top: 75vh;
}

.displayBoxRender {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    gap: 5px;
    margin: 5px 0px;




    /*box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.13);*/
    background-color: rgb(13, 152, 216);
}

.displayBoxLocNumber {
    font-weight: bolder;    
}

.displayBoxLocResult {
    
    
}