html {
    box-sizing: border-box;
}
body{
    box-sizing: border-box;
    height: 100%;
    
    
}

input{
    outline: none;
}


html,
body,
input,
button,
p {
    margin: 0;
}

#map {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50vh;
    z-index: 10;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.182);
}

.inputBox {
    position: absolute;
    top: 50vh;
    left: 0;
    right: 0;
    height: 8vh;
    display: grid;
    grid-template-columns: 1fr 30px;
    justify-content: center;
    padding: 0px 5px;
    align-items: center;
    z-index: 5;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    gap: 5px;
}

.inputBoxInput {
    text-align: center;
    height: 30px;
    border: 1px solid black;
}

.inputBoxButton {
    border: 1px solid black;

    height: 30px;
    border-radius: 25px;
    background-color: #ffffff;
    font-size: large;

}
.inputBoxButton:active {
    background-color: rgb(0, 0, 0);
    color: white;
}

.displayBox {
    position: relative;
    top: 57.5vh;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 5px;
}

.displayBoxRender {
    display: flex;
    flex-direction: column;
}

/*ikke i bruk enda*/
.displayBoxLocNumber {
    font-weight: bolder;    
}
.displayBoxLocResultButton{
    padding: 10px;
    border: 1px solid black;
    background-color: #ffffff;
}
.displayBoxLocResultButton:hover{
    color: #ffffff;
    background-color: black;
}